.footer {
  border-top: 1px solid var(--secondary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem; /* Reduced padding for a thinner footer */
  text-align: center;
  color: var(--text);
  opacity: 0.6;
}
